
.courses-list {
    display: flex;
    color: black;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-left: 50px;
    padding: 100px;
    
  }
  
  /* .course-card {
 
    color: black;
    width: 100%;
   
    
  } */
  .course-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .course-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .course-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .course-description {
    margin-top: 10px;
  }
  .course-card-p{
    color: black;
    font-size: 13px;
  }
  .but-course-enqiry {
    margin-top: 10px;
    background-color: #0056b3;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 95px;
  }
  
  .but-course-enqiry {
    background-color: #007bff;
  }
  .but-course-enroll {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .but-course-enroll:hover {
    background-color: #0056b3;
  }